<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>= {product.name} - My E-Commerce Store</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Hair Box</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="product-details">
        <div class="container">
            <div class="product-image">
                <img src="product.image" alt="product.name">
            </div>
            <div class="product-info">
                <h2>product.name</h2>
                <p>product.description</p>
                <p>Price:product.price.toFixed</p>
                <p>Category:product.category</p>
                <p>Brand:product.brand</p>
                <p>Stock:product.stock</p>
                <button id="add-to-cart" data-product-id="%= product._id %>">Add to Cart</button>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>  All rights reserved.</p>
        </div>
    </footer>
</body>
</html>